body{
background-color: rgb(219, 207, 177);
margin: 40px;
border: 5px dotted;
padding: 20px;
}
h1{
    color: red;
    text-align: center;
}
#Mon{
text-align: justify;
background-color: aqua;
font-family:'Courier New', Courier, monospace;
border: 3px dashed;
color: rgb(21, 143, 38);
padding: 20px;
}
#sun{
    text-align: justify;
    background-color: rgb(214, 165, 175);
    font-family:'Courier New', Courier, monospace;
    border: 3px dashed;
    color: rgb(10, 29, 13);
    padding: 20px;
}
.Box-1{ 

    text-align: justify;
    background-color: rgb(3, 165, 240);
    font-family:'Courier New', Courier, monospace;
    border: 3px dashed;
    color: rgb(10, 29, 13);
    padding: 20px;
}
.content-table{
border-collapse: collapse;
margin: 25px 0;
font: size 0.9em;
min-width: 400px;


}